{% extends "base.html" %}

{% block title %}Search albums{% endblock %}

{% block content %}

  <div id="description">
    <p>Who is your favorite music artist or band?<br>
        Do you want to see all of his albums?<br>
      For your artist's discography- from the newest to the oldest,<br>
      you just need to write his name. </p>
  </div>

  <div id="search">
    <form method="GET" action="/albums" class="row index">
      <label for="input-artist" class="visually-hidden">Search artist >>> </label>
      <div class="col-auto">
        <input class="form-control" id="input-artist" name="artist" type="text" placeholder="Search artist" tabindex="1" autofocus required>
      </div>
      <div class="col-auto">
        <button class="form-control" id="search-button" type="submit" tabindex="2">Search</button> 
      </div>
    </form>
    {% if not is_valid %}
    <div class="error">
      <p>Artist not available</p>
    </div>
    {% endif %}
  </div>

{% endblock %}

